
/*font-family: 'Great Vibes', cursive;*/
body{
  overflow-x: hidden;
}
/* navbar start*/
.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
  padding: 1.2rem;
  transition: all .7s;
}
.logo{
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  color:#fff;
  text-decoration: none;
  text-transform: capitalize;
}
.logo:hover{
  color: #fff; 
  text-decoration:none;
}

.menu-item {
  font-size: 16px;
  letter-spacing: 1px;
  color: #eee;
  transition: color .5s;
}

.menu-item:hover {
  color: #70aed2;
}

.nav-active {
  color: #70aed2;
}

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 0 30px;
  color: #333 !important;
  background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .98));
}
.custom-line{
  background: #333 !important;
  border: #333 !important;
}
.custom-navbar a{
  color: #333 !important;
}
.custom-navbar a:hover{
  color: #70aed2 !important;
}
.custom-navbar .nav-active {
  color: #70aed2 !important;
}
/* end of navbar */

/*header start*/
header{
  width:100%;
  height:100vh;
  background: linear-gradient(rgba(0,0,0,.95),rgba(0,0,0,.7)),url("../img/pexels-tamás-mészáros-12064.jpg") center / cover no-repeat  fixed ;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.banner-heading:first-letter{
  margin-right:16px;
  font-family: 'Great Vibes', cursive;
  font-size:10rem;
  text-transform: uppercase;
}
.banner-heading img{
  animation: beating 2s infinite;
  transition: .3s;
}
@keyframes beating{
    0%{
      transform: scale(1);
      }
    40%{
      transform: scale(1.1);
      }
    60%{
      transform: scale(1.05);
      }
    80%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
  }
  }
.custom-btn{
  color: #DB0000;
  border-color: #DB0000;
}
.custom-btn:hover{
  background-color: #DB0000;
}
/*header end*/

/*common title start*/
.common-title{
  display: inline-block;
  font-size: 2.5rem;
  font-weight:500;
  text-shadow: 2px 2px 5px #999;
  transition: all .5s;
}
.common-title:first-letter{
  margin-right:10px;
  font-family: 'Great Vibes', cursive;
  font-size:5rem;
  font-style: normal;
}
.common-title:hover{
  transform: translate(-5px, -3px);
  text-shadow:2px 5px 20px #999;
}
/*common title end*/

/* gallery start */
.gallery-img{
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.gallery-img:hover{
  transform: scale(1.05);
}
.first-row{
  transform: translateX(-50%);
  opacity: 0;
  transition: all 2.5s;
}
.second-row{
  transform: translateX(50%);
  opacity: 0;
  transition: all 2.5s;
}
.change .first-row, .change .second-row{
  transform: translateX(0);
  opacity: 1;
}
/* gallery end */

/* famous writer start */
.famous-writers{
  height: 100%;
  background: linear-gradient(rgba(250,250,250,.78),rgba(250,250,250,.88)),url("../img/bg6.jpg") center / cover no-repeat  fixed ;
}
#book-1, #book-2{
  backface-visibility: hidden;
  box-shadow: 5px 5px 15px #444444;
  border-right: 5px solid #777 ;
  border-bottom: 10px solid #444 ;
  transition: all .8s ease-in-out;
}
#book-1:hover,#book-2:hover{
  transform: scale(1.05);
  z-index: 50;
  border-right: 5px solid #ddd ;
  border-bottom: 10px solid #bbb ;
}

/* famous writer end */

/* suggested books start */
.suggested-books{
  height: 100%;
  background: url("../img/pexels-candis-hidalgo-639110.jpg") center / cover no-repeat  fixed ;
}
.books{
  height: 100vh;
  position: relative;
}
.book{
  width: 35%;
  position: absolute;
  box-shadow: 5px 5px 15px #444444;
  border-right: 5px solid #777 ;
  border-bottom: 10px solid #444 ;
  transition: all .8s ease-in-out;
}
.book1{
  top: 5%;
  left: 20%;
  transform: rotate(-45deg);
}
.book2{
  top: 20%;
  left: 50%;
  transform: rotate(40deg);
}
.book3{
  top: 40%;
  left: 40%;
  transform: rotate(55deg);
}
.book4{
  top: 35%;
  left: 10%;
  transform: rotate(-38deg);
}
.book:hover{
  transform: scale(1.3) rotateX(20deg);
  z-index: 50;
  box-shadow: 5px 5px 25px #444444;
  border-right: 6px solid #ddd ;
  border-bottom: 12px solid #bbb ;
}
/* suggested books end */

/*popular books start*/
.popular-books{
  position: relative;
  width: 100%;
}
.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: .3;
}
.bg-video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-card{
  position: relative;
  box-shadow: 5px 15px 50px #aaa;
  max-width:420px;
  transition: all 1s;
  overflow: hidden;
}
.rotate{
  perspective: 100rem;
}
.back{
  position: absolute;
  top:-100%;
  height:100%;
  width:100%;
  background: #fefefe;
  opacity: 0 !important;
  user-select: none;
  pointer-events: none;
  transform: rotateY(180deg);
  transition: all .8s
}
.back-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.rotate:hover .book-card{
  transform: rotateY(180deg);
}
.rotate:hover .back{
  top: 0;
  opacity: 1 !important;
  user-select: auto;
  pointer-events: auto;
}
/*popular books end
/* contact start */
.contact {
 background: linear-gradient(105deg,rgba(244, 244, 244, 1) 0%, rgba(254, 254, 254, .95) 50%,transparent 50%), url(../img/bg-contact.jpg) no-repeat center left /cover;
}

.input {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all .8s;
}

.input:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #333;
  border-bottom: 2px solid #f5593d;
}

.submit-button {
  background: #f5593d;
  color: #eee;
  transition: all .3s;
}

.submit-button:hover {
  background: #f9793d;
  transform: translateY(-3px);
}

.label {
  color: #777;
  display: block;
  margin-top: -70px;
  margin-left: 4px;
  font-size: 13px;
  transition: all .3s;
}

.input:placeholder-shown + .label {
  transform: translate(20px, 20px);
  opacity: 0;
  visibility: hidden;
}
/* contact-end*/

/* footer */
footer{
  height:100%;
  background: linear-gradient(rgba(0,0,0,.95),rgba(0,0,0,.7)),url("../img/pexels-tamás-mészáros-12064.jpg") center / cover no-repeat  fixed ;
}
.footer-link {
  color: #eee;
  font-size: 13px;
  transition: all .3s;
}
.s-icon{
  color: #555;
}
.s-icon:hover{
  color:#eee;
  cursor: pointer;
}

.footer-link:hover {
  color: #70aed2;
  text-decoration: none;
}
/* end of footer */
